body .welcome {
    background-image: url('background/h_img.jpg');
    background-size: cover;
    font-family: sans-serif;
    height: 100vh;
}
.welcome img {
    margin-top: 16%;
    margin-left: 45%;
}
.welcome p {
    font-size: 50px;
    margin-left: 38%;
    margin-top: 2%;
    color: azure;

}





















































































    color: azure;
    
}
